/* imports */
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* general styling */
* {
  margin: 0;
  font-family: "montserrat", sans-serif;
}
html {
  background: #f3f3f3;
}

/* navbar top */
nav {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 45px;
}

.profile-image {
  position: absolute;
  left: 3%;
  height: 45px;
}

.profile-image img {
  height: 45px;
  border-radius: 50%;
}
#profile-image-overlay {
  transition: 0.5s ease;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  position: absolute;
  top: 0;
}
#profile-image-overlay:hover {
  background: rgba(128, 244, 224, 0.7);
}
.nav-links {
  position: absolute;
  right: 10px;
  height: 100%;
  display: flex;
  justify-items: center;
}
.nav-links a {
  text-decoration: none;
  color: black;
  margin: auto 15px;
  padding: 5px;
  font-weight: 700;
}
.nav-links a:hover {
  color: #80f4e0;
}
#active-tab {
  border-bottom: 3px solid #80f4e0;
}
main {
  position: absolute;
  top: 45px;
  width: 100%;
  height: -moz-calc(100% - 45px);
  height: -webkit-calc(100% - 45px);
  height: calc(100% - 45px);
}
.link-box {
  position: relative;
  top: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  left: 25%;
}
.link-box a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
