html {
  background-color: #e4e4e4;
}
body {
  background-color: white;
  overflow: hidden;
}

#videoTab,
#histology,
#infoTab {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 500px;
}
#slideInfo {
  height: 200px;
  bottom: 200px;
  padding: 0px 10px 10px 10px;
  overflow: auto;
}

#infoTab {
  bottom: 1000;
  right: 0;
  top: 50%;
}

#histology {
  width: 50%;
  height: 70%;
  z-index: 8;
  left: 250px;
}

#videoTab {
  right: 0;
}

.mydivheader {
  padding: 5px;
  cursor: move;
  z-index: 10;
  background-color: #3c3d3db2;
  color: #fff;
  font-family: sans-serif;
  height: 20px;
}

#openseadragon {
  background-color: black;
  width: 100%;
}

#Myvideo {
  width: 100%;
}

.side-nav {
  background: #fff;
  position: relative;
  width: 250px;
  height: 100%;
  background: #e5ebea;
}

.side-nav-list {
  position: relative;
  top: 50px;
  padding: 10 10 10 10;
  border: 10px;
}

.side-nav-list-item {
  position: relative;
  background-color: #6b6e6e3d;
  height: 50px;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 5%;
  transition: 0.3s ease;
}

.side-nav-list-item:hover {
  background-color: rgba(128, 244, 224, 0.7);
  cursor: pointer;
}
