body {
  background-color: white;
  overflow: hidden;
}

#videoTab,
#histology {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 500px;
}

#histology {
  width: 70%;
  height: 70%;
  z-index: 8;
}

#videoTab {
  right: 0;
}

.mydivheader {
  padding: 5px;
  cursor: move;
  z-index: 10;
  background-color: lightcoral;
  color: #fff;
  font-family: sans-serif;
  height: 20px;
}

#openseadragon {
  background-color: black;
  width: 100%;
}

#Myvideo {
  width: 100%;
}
