/* general */

* {
  margin: 0;
  font-family: 'Segoe UI', "montserrat", Geneva, Verdana, sans-serif
}
html{
}
body{
}

/* navbar */
.navigation{
  position: fixed;
  height: 45px;
  width: 100%;
  background-color: #1E1E1E;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
}
.navigation .site-name{
  text-transform: uppercase;
}
.navigation .module-name{
  
}
.navigation .course-name{
  font-size: 10pt;
  color: #999999;
}

/* main content area */
main {
  position: fixed;
  top: 45px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 18fr 2fr;
  background-color: #F0F0F0;
}
main #view-window{
  grid-column: 2 / 3;
  grid-row: 2/3;
  background-color: #FFFFFF;
  display: grid;
  grid-template-rows: 1fr 14fr;
  grid-template-columns: 2fr 7fr;
  grid-template-areas:
    "btn head"
    "selection viewarea"
}
#return-btn{
  grid-area: btn;
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: 700;
}
#return-btn button{
  display: block;
  background-color: lightcoral;
  color: black;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}


#video-title{
  grid-area: head;
  position: relative;
  text-align: center;
  border: 1px grey solid;
}
#video-title p{
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 50px;
}

#display-window{
  grid-area: viewarea;
  overflow: hidden;
}

.videoLink, .tabContent{
  box-sizing: border-box;
}
#video-listing {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100%;
  height:100%;
}
#video-listing button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  margin: 40px 0;
  width: 100%;
  border: 1px solid black;;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}


/* Change background color of buttons on hover */
#video-listing button:hover {
  background-color: rgba(128, 244, 224, 0.7);
}

/* Create an active/current "tab button" class */
#video-listing button.active {
  background-color: rgba(128, 244, 224, 1.0);
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 100%;
  border-left: none;
  height: 100%;
}