main{
    position: fixed;
    top: 45px;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
#content{

}
.topic{
    z-index: 2;
    margin: 0% 10%;
    padding-top: 2%;
}
video{
    display: block;
    margin: 0px auto;
}
.linklist{
    border: 1px cyan solid;
    width: 500px;
    background:lightgray
}
#footer{
    height: 100px;
}
.videoinfo{
    margin: 1% 10%;
}