html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: .1px red solid;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  background-color: #e4e4e4;
}
body {
  background-color: white;
  overflow: hidden;
}
h1{
  font-size: 15px;
  font-weight: bold;
}


nav {
  height: 50px;
  position: relative;
}
.profile-image, .nav-links{
  display: inline-block
}
.profile-image img{
  position: relative;
  height: 50px;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-links li {
  float: right;
}

.nav-links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-links li a:hover {
  background-color: #111;
}

main{
  top: 5px;
  height: 1000px;
  position: relative;
}
.content_sidebar{
  position: absolute;
  width: 25%;
  height: 100%
}

#histology{
  position: absolute;
  height: 100%;
  width: 75%;
  right: 0;
}

#videoPlayer{
  width: 100%;
}
/* #videoTab,
#histology,
#infoTab {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 500px;
}
#slideInfo {
  height: 200px;
  bottom: 200px;
  padding: 0px 10px 10px 10px;
  overflow: auto;
}

#infoTab {
  bottom: 1000;
  right: 0;
  top: 50%;
}

#histology {
  width: 50%;
  height: 70%;
  z-index: 8;
  left: 250px;
}

#videoTab {
  right: 0;
}

.mydivheader {
  padding: 5px;
  cursor: move;
  z-index: 10;
  background-color: #3c3d3db2;
  color: #fff;
  font-family: sans-serif;
  height: 20px;
}

#openseadragon {
  background-color: black;
  width: 100%;
}

#Myvideo {
  width: 100%;
}

.side-nav {
  background: #fff;
  position: relative;
  width: 250px;
  height: 100%;
  background: #e5ebea;
}

.side-nav-list {
  position: relative;
  top: 50px;
  padding: 10 10 10 10;
  border: 10px;
}

.side-nav-list-item {
  position: relative;
  background-color: #6b6e6e3d;
  height: 50px;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 5%;
  transition: 0.3s ease;
}

.side-nav-list-item:hover {
  background-color: rgba(128, 244, 224, 0.7);
  cursor: pointer;
} */